$white-color: #fff;
$dark-grey-color: #222;
$secondary-color: rgb(150, 238, 42);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(211, 238, 6, 1);
  box-sizing: border-box;
}

.clipboard-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
}

.text {
  font-size: 1rem;
  color: $dark-grey-color;
  padding: 0.7rem 1.6rem;
}

.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  line-height: 1;
  border-left: 4px solid $secondary-color;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.cta-btn--resume {
  color: $dark-grey-color;
  background-color: $white-color;

  &::after {
    background: $secondary-color;
  }

  &:hover {
    color: $dark-grey-color;
    text-decoration: none;
    cursor: pointer;

    &::after {
      width: 100%;
    }
  }
}
